// bower:scss
@import "materialize/sass/materialize.scss";
// endbower


main {
    flex: 1 0 auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }


.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.main-page {
  text-align: center;

  .btn {
    font-size: 20px;
  }
}

.card-title {
  text-shadow:
      0 1px #808d93,
      -1px 0 #cdd2d5,
      -1px 2px #808d93,
      -2px 1px #cdd2d5,
      -2px 3px #808d93,
      -3px 2px #cdd2d5,
}

#my-gear-rentals-panel {
  margin-top: 35px;
}

#edit-product:hover {
  cursor: pointer;
  color: grey;
}

#main-page-ogre {
  height: 350px;
  width: 325px;
}

#navbar-ogre {
  height: 40px;
  width: 35px;
}

#create-new-gear-btn {
  margin-bottom: 15px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }
  #brand-logo {
    margin-left: 15px;
  }
}
