// bower:scss
// endbower


main {
    flex: 1 0 auto;
}

body {
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }


.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.main-page {
  text-align: center;

  .btn {
    font-size: 20px;
  }
}

#edit-product:hover {
  cursor: pointer;
  color: grey;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }
}
