<header ng-include="src='views/navbar-welcome.html'"></header>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>Login</h2>
      <form name="loginFormNg">

        <div class="row">
          <div class="input-field col s6">
            <input id="email" type="email" name="email" class="validate" ng-maxlength="20" ng-model="loginCtrl.loginForm.email">
            <label for="email">Email</label>
            <div ng-show="loginFormNg.email.$invalid">
              You must enter a valid email address.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="password" type="password" class="validate" ng-model="loginCtrl.loginForm.password">
            <label for="password">Password</label>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="row">
    <a id="" class="btn-large waves-effect waves-light orange" ng-click="loginCtrl.authenticateUser()">Submit</a>
  </div>
</div>
