<header ng-include="src='views/navbar-user.html'"></header>
<div class="container main-page">
  <div class="row">
    <div class="col s12">
      <h2>Find Gear, Find Friends, Get Outside</h2>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="input-field">
        <input id="search" type="search" name="search" id="search" ng-model="mainCtrl.searchQuery" ng-minlength="1" ng-maxlength="30" class="validate">
        <label for="search">This is where the expedition begins...</label>
      </div>
      <a class="waves-effect waves-light btn" ng-click="mainCtrl.searchGear()">Search Gear</a>
      <a class="waves-effect waves-light btn" ng-click="mainCtrl.searchFriends()">Search Friends</a>
    </div>


  </div>

  <!-- TO DELETE: HELPER STUFF -->
  <div class="row">
    User Zip Code: <br>
    {{mainCtrl.userZip}} <br>
    User Search: <br>
    {{mainCtrl.searchQuery}}
  </div>

  <div class="row">
    search results here
  </div>

</div>

