<div class="container main-page">
  <div class="row">
    <div class="col s12">
      <h2>Find Gear, Find Friends, Get Outside</h2>
      <p>
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="input-field">
        <input id="search" type="search" class="validate">
        <label for="search">This is where the expedition begins...</label>
      </div>
      <a class="waves-effect waves-light btn" ng-href="#/">Search Gear</a>
      <a class="waves-effect waves-light btn" ng-href="#/">Search Friends</a>
    </div>
  </div>

</div>

