<header ng-include="src='views/navbar-user.html'"></header>

<div class="container"> <!-- page container -->

  <!-- product panel -->
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">

          <!-- edit icon -->
          <div class="col s2">
            <div id="edit-product" ng-click="showEditForm = !showEditForm">
              <i class="material-icons medium">mode_edit</i>
            </div>
          </div>

          <!-- product image -->
          <div class="col s4">
            <img src="{{myGearRentalsCtrl.myGearRentals.image_src}}" alt="" class="circle responsive-img">
          </div>

          <!-- product title and description -->
          <div class="col s6">
            <span class="black-text">
              <h3>{{myGearRentalsCtrl.myGearRentals.title}}</h3>
              <h6>{{myGearRentalsCtrl.myGearRentals.description}}</h6>
              <p>{{myGearRentalsCtrl.myGearRentals.daily_cost | currency }} / day</p>
              <p>{{myGearRentalsCtrl.myGearRentals.category}}</p>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Edit Item Form -->
  <div class="row" ng-show="showEditForm">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s12 m10 offset-m1">
          <h4>Edit Item</h4>
          <form name="newGearFormNg">
            <div class="row">
              <!-- Title -->
              <div class="input-field col s6">
                <input id="title" type="text" name="title" class="validate" ng-model="myGearRentalsCtrl.myGearRentals.title">
                <label for="title" class="active">Title</label>
              </div>
              <!-- Daily Cost -->
              <div class="input-field col s3">
                <i class="material-icons prefix tiny">attach_money</i>
                <input id="daily_cost" type="text" name="daily_cost" ng-model="myGearRentalsCtrl.myGearRentals.daily_cost" ng-pattern="/^[1-9]\d*(?:\.\d{0,2})?$/">
                <label for="daily_cost" class="active">Daily Cost</label>
                <div ng-show="newGearFormNg.daily_cost.$invalid">
                  You must enter a valid price.
                </div>
              </div>
              <!-- Category -->
              <div class="input-field col s3">
                <select class="browser-default" material-select ng-model="myGearRentalsCtrl.myGearRentals.category" ng-options="obj.id as obj.name group by obj.type for obj in myGearRentalsCtrl.categoryOptions">
                  <option value="default" disabled selected>Poop</option>
                </select>
              </div>
            </div>

            <div class="row">
              <!-- Description -->
              <div class="input-field col s6">
                <textarea id="description" name="description" class="materialize-textarea" ng-model="myGearRentalsCtrl.myGearRentals.description"></textarea>
                <label for="description" class="active">Description</label>
              </div>
              <!-- Image Upload -->
              <div class="col s6">
                <form action="#">
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>Upload Image</span>
                      <input type="file" id="file" ng-model="createNewGearCtrl.newGearItem.image">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" class="show">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </form>
          <a class="waves-effect waves-light btn btn-small" ng-click="showEditForm = !showEditForm; myGearRentalsCtrl.editMyGearItem()">Save Changes</a>
          <a class="waves-effect waves-light btn btn-small red" ng-click="myGearRentalsCtrl.deleteMyGearItem()">Delete Item</a>
        </div>
      </div>
    </div>
  </div> <!-- /Edit Item Form -->


  <!-- collection of products' rentals -->
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <h4>Rentals</h4>
      <ul class="collection">

        <!-- rental collection item repeat -->
        <li class="collection-item" ng-repeat="rental in myGearRentalsCtrl.myGearRentals.rentals">
          <div class="row">

            <!-- rental information -->
            <div class="col s8">
              <span class="title" id="{{rental.id}}"><strong>Renter:</strong> {{ rental.renter_name }}</span>
              <p><strong>From:</strong> {{ rental.start_date | date }} <br><strong>To:</strong> {{ rental.end_date | date }}<br>
                <strong>Total Cost:</strong> {{ rental.total_cost | currency }}
              </p>
              <p><strong>Status:</strong> {{rental.status}}</p>
              <p><strong>Message from Renter:</strong> {{rental.message}}</p>
            </div>
            <!-- rental status update -->
            <div class="col s4">
              <h6><strong>Update Rental Status</strong></h6>
              <div class="input-field">
                <select class="browser-default" material-select ng-model="rental.status">
                    <option>{{rental.status}}</option>
                    <option>{{myGearRentalsCtrl.otherStatusOption(rental.status)}}</option>
                </select>
              </div>
              <a class="waves-effect waves-light btn btn-small" ng-click="myGearRentalsCtrl.editMyGearRental({status: rental.status}, rental.id)">Save</a>

            </div>

          </div>
        </li> <!-- /rental collection item repeat -->

      </ul>

      <!-- TO DELETE: HELPER OBJECT DISPLAY -->
      <div>
        myGearRentalsCtrl.myGearRentals:
        <br>
        {{myGearRentalsCtrl.myGearRentals}}
      </div>
      <br>
      <div>
        myGearRentalsCtrl.myGearRentals.rentals:
        <br>
        {{myGearRentalsCtrl.myGearRentals.rentals}}
      </div>

    </div>
  </div>


</div>
