<header ng-include="src='views/navbar-user.html'"></header>
<!-- page container -->
<div class="container">
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <h2>My Rentals</h2>
      <ul class="collection">
        <!-- rental collection item repeat -->
        <li class="collection-item" ng-repeat="rental in myRentalsCtrl.myRentals">
          <div class="row">

            <!-- rental information -->
            <div class="col s8">
              <span class="title" id="{{rental.id}}"><strong>Gear:</strong> {{ rental.product_name }}</span>
              <p><strong>From:</strong> {{ rental.start_date | date }} <br><strong>To:</strong> {{ rental.end_date | date }}<br>
                <strong>Total Cost:</strong> {{ rental.total_cost | currency }}
              </p>
              <p><strong>Status:</strong> {{rental.status}}</p>
              <p><strong>Message from You:</strong> {{rental.message}}</p>
              <a id="" class="btn waves-effect waves-light orange" href="#/viewgear/{{rental.product_id}}">View Gear</a>
              <a id="" class="btn waves-effect waves-light red" ng-click="myRentalsCtrl.deleteMyRental(rental.id); myRentalsCtrl.showDeleteToast()">Delete Rental</a>
            </div> <!-- /col -->

            <!-- owner information for contact -->
            <div class="col s4">

              <!-- rental approved by owner -->
              <div ng-show="myRentalsCtrl.rentalStatusApproved(rental.status)">
                <h6><strong>{{rental.owner_name}} has approved this rental!</strong></h6>
                <p>Click below to send {{rental.owner_name}} an email to coordinate pick-up:</p>
                <a href="mailto:{{rental.owner_email}}?subject={{rental.product_name}}&body=Hi {{rental.owner_name}}, Thanks for approving my rental! When would be best for us to meet? -{{rental.renter_name}}"><i class="material-icons small">email</i></a>
              </div>

              <!-- rental still pending -->
              <div ng-show="!myRentalsCtrl.rentalStatusApproved(rental.status)">
                <h6><strong>{{rental.owner_name}} has not yet approved this rental.</strong></h6>
                <p>Check back soon to see if it has been approved.</p>
              </div>
            </div><!-- /col -->


          </div><!-- /row -->
        </li> <!-- /rental collection item repeat -->
        <li class="collection-item" ng-show="!myRentalsCtrl.noRentals()">
          <h5>You don't have any rentals.  Search for rentals <a href="#/main">here</a>.</h5>

        </li>
      </ul> <!-- /collection -->

    </div>
  </div>


</div>
