<header ng-include="src='views/navbar-user.html'"></header>

<div class="container"> <!-- page container -->

  <!-- product panel -->
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card">
        <div class="card-image">
          <img src="{{viewGearCtrl.gearItem.image_src}}">
          <span class="card-title">{{viewGearCtrl.gearItem.title}}</span>
        </div>
        <div class="card-content">
          <p><strong>Description:</strong> {{viewGearCtrl.gearItem.description}}</p>
          <p><strong>Cost:</strong> {{viewGearCtrl.gearItem.daily_cost | currency}}/day</p>
          <p><strong>Owner:</strong> {{viewGearCtrl.gearItem.owner_name}} | {{viewGearCtrl.gearItem.owner_city}}, {{viewGearCtrl.gearItem.owner_state}}</p>
        </div>
        <div class="card-action">
          <a ng-click="showRentalForm = !showRentalForm">Rent This Gear</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Rental Request Form -->
  <div class="row" ng-show="showRentalForm" id="rental-form">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s12 m10 offset-m1">
          <h4>Rental Form</h4>
          <form name="newGearFormNg">
            <!-- Rental Form Row 1 -->
            <div class="row">
              <!-- Start Date -->
              <div class="input-field col s4">
                <input id="start_date" type="date" name="start_date" class="validate datepicker" ng-model="viewGearCtrl.newRental.start_date">
                <label for="start_date" class="active">Start Date</label>
              </div>
              <!-- End Date -->
              <div class="input-field col s4">
                <input id="end_date" type="date" name="end_date" class="validate" ng-model="viewGearCtrl.newRental.end_date">
                <label for="end_date" class="active">End Date</label>
              </div>
              <!-- Total Cost -->
              <div class="input-field col s4">
                <p>{{viewGearCtrl.totalCost(viewGearCtrl.newRental.start_date, viewGearCtrl.newRental.end_date) | currency }}</p>
                <label for="total_cost" class="active">Total Cost</label>
                <div ng-show="newGearFormNg.total_cost.$invalid">
                  You must enter a valid price.
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Message -->
              <div class="input-field col s12">
                <textarea id="message" name="message" class="materialize-textarea" ng-model="viewGearCtrl.newRental.message"></textarea>
                <label for="message" class="active">Send {{viewGearCtrl.gearItem.owner_name}} a Message:</label>
              </div>
            </div>

          </form>
          <a class="waves-effect waves-light btn btn-small" ng-click="viewGearCtrl.createRental(); viewGearCtrl.showRentalSave()">Submit</a>
          <a class="waves-effect waves-light btn btn-small red" ng-click="showRentalForm = !showRentalForm">Cancel</a>
        </div>
      </div>
    </div>
  </div> <!-- /Rental Request Form -->

  <!-- collection of products' rentals -->
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <h4>Current Rentals on this Product</h4>
      <ul class="collection">
        <!-- rental collection item repeat -->
        <li class="collection-item" ng-repeat="rental in viewGearCtrl.gearItem.rentals">
          <p>Renter: {{ rental.renter_first_name }}</p>
          <strong>From:</strong> {{ rental.start_date | date }} <br>
          <strong>To:</strong> {{ rental.end_date | date }}
        </li> <!-- /rental collection item repeat -->
      </ul>
    </div> <!-- /column in product rentals row -->
  </div> <!-- /product rentals row -->


</div> <!--/page container -->
