<header ng-include="src='views/navbar-welcome.html'"></header>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header center orange-text">OGRE Buddies</h1>
    <div class="row center" id="welcome-page-banner">
      <div class="col s12">
        <img id="main-page-ogre"src="images/ogre1.png" alt="">
      </div>
    </div>
    <div class="row center">
      <h4 class="header col s12 light"><strong>O</strong>utdoor <strong>G</strong>ear <strong>RE</strong>ntal</h4>
      <h5 class="header col s12 light">Enjoy the outdoors with friends</h5>
    </div>
    <div class="row center">
      <a href="#/register" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br>

  </div>
</div>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons large">person</i></h2>
          <h5 class="center">Login or Register to Start OGREing</h5>

          <p class="light center">Sign Up with your email, and put in your town, state, and zip.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons large">search</i></h2>
          <h5 class="center">Find an OGRE or list your own OGRE</h5>

          <p class="light center">We're not talking big filthy monsters, we mean <strong>O</strong>utdoor <strong>G</strong>ear <strong>RE</strong>ntals.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons large">terrain</i></h2>
          <h5 class="center">Find an OGRE buddy and get outside!</h5>

          <p class="light center">OGRE Buddies allows you to search for meetups relevant to gear your renting, so what are you waiting for?!.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>
